<!DOCTYPE html>
<html lang="en">

<head>
{{>links}}
{{!-- {{>styles}} --}}

</head>
<!-- navbar -->
{{>nav}}
<!-- end navbar -->
<!-- main body -->
<div class="container-fluid main_header_Body">
    <div class="row flex_box">
        <div class="col-md-10 col-12 mx-auto ">
            <div class="row g-3">
                <div class="col-md-6 col-12 main_header_left order-2">
                    <p>Welcome To weather app</p>
                    <h3>I'm a <span>Web Developer</span> and a Freelancer</h2>
                        <a href=""><button class="btn btn-success">About me</button> </a>
                </div>
                <div class="col-md-6 col-12 main_header_right order-1 mx-auto">
                    <figure>
                        <img src="image/about.png" class="img-fluid shadow" alt="">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end main body -->
<!-- footer -->
{{>footer}}
<!-- end footer -->

<body>
</body>
{{>script}}

</html>