<!DOCTYPE html>
<html lang="en">

<head>
{{>links}}
{{!-- {{>styles}} --}}
</head>
{{>nav}}

<!-- main body -->
<div class="container-fluid main_header_Body  error_page">
    <div class="row flex_box  mx-auto">
        <div class="col-md-6 col-12 error mx-auto ">
           <figure>
                  <img src="image/eror.png" class="img-fluid mx-auto" alt="">
              </figure>
              <p>Welcome to Siddik Website</p>
              <h4 class="error_opps">Opps! Page Not Found</h4>
                 <a href="/"><button class="btn btn-success">Get Back</button> </a>
              
            </div>
        </div>
    </div>
</div>
<!-- end main body -->
<!-- footer -->
{{>footer}}

<!-- end footer -->

<body>
</body>
{{>script}}

</html>